<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="views/styles.css">
    
    <title></title>
</head>

<body>
    <div id="root">
        
        <table>
            <tr v-for="row in rows">
                <td v-for="square in squares" v-if="square.xAxis === row" :id="square.id" @dragover="onDragOver" @drop="onDrop" @click="onClickSquare(square.id)" :class="{'green-square': square.isSquareGreen}"></td>
            </tr>
        </table>
    
        <table class="tileSlots">

            <tr>
                
                <td id="slot0" @dragover="onDragOver" @drop="onDrop">
                    
                    <svg id="tile0" draggable="true" @dragstart="onDragStart" @click="onClickTile('tile0')">
                        <rect x="0" y="0" stroke="black" stroke-width="1px" width="100%" height="100%" fill="#f4dc00"/>
                        <text x="50%" y="60%" alignment-baseline="middle" text-anchor="middle">O</text> 
                    </svg>
                    
                </td>
                
                <td id="slot1" @dragover="onDragOver" @drop="onDrop">
                    
                    <svg id="tile1" draggable="true" @dragstart="onDragStart" @click="onClickTile('tile1')">
                        <rect x="0" y="0" stroke="black" stroke-width="1px" width="100%" height="100%" fill="#f4dc00"/>
                        <text x="50%" y="60%" alignment-baseline="middle" text-anchor="middle">L</text> 
                    </svg>
  
                </td>
                
                <td id="slot2" @dragover="onDragOver" @drop="onDrop">
                    <svg id="tile2" draggable="true" @dragstart="onDragStart" @click="onClickTile('tile2')">
                        <rect x="0" y="0" stroke="black" stroke-width="1px" width="100%" height="100%" fill="#f4dc00"/>
                        <text x="50%" y="60%" alignment-baseline="middle" text-anchor="middle">V</text> 
                    </svg>

                </td>
                
                <td id="slot3" @dragover="onDragOver" @drop="onDrop">
                    <svg id="tile3" draggable="true" @dragstart="onDragStart" @click="onClickTile('tile3')">
                        <rect x="0" y="0" stroke="black" stroke-width="1px" width="100%" height="100%" fill="#f4dc00"/>
                        <text x="50%" y="60%" alignment-baseline="middle" text-anchor="middle">E</text> 
                    </svg>

                </td>
                
                <td id="slot4" @dragover="onDragOver" @drop="onDrop">
                    <svg id="tile4" draggable="true" @dragstart="onDragStart" @click="onClickTile('tile4')">
                        <rect x="0" y="0" stroke="black" stroke-width="1px" width="100%" height="100%" fill="#f4dc00"/>
                        <text x="50%" y="60%" alignment-baseline="middle" text-anchor="middle">G</text> 
                    </svg>

                </td>

                <td id="slot5" @dragover="onDragOver" @drop="onDrop">
                    <svg id="tile5" draggable="true" @dragstart="onDragStart" @click="onClickTile('tile5')">
                        <rect x="0" y="0" stroke="black" stroke-width="1px" width="100%" height="100%" fill="#f4dc00"/>
                        <text x="50%" y="60%" alignment-baseline="middle" text-anchor="middle">D</text> 
                    </svg>

                </td>

                <td id="slot6" @dragover="onDragOver" @drop="onDrop">
                    <svg id="tile6" draggable="true" @dragstart="onDragStart" @click="onClickTile('tile6')">
                        <rect x="0" y="0" stroke="black" stroke-width="1px" width="100%" height="100%" fill="#f4dc00"/>
                        <text x="50%" y="60%" alignment-baseline="middle" text-anchor="middle">A</text> 
                    </svg>
  
                </td>
                
            </tr>

        </table>
        
       
        
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
        
    <script src="models/game-board-model.js"></script>
    <script src="view-models/game-board-view-model.js"></script>    
    
</body>
</html>