@font-face {
  font-family: 'bs';
  src: url("/static/webfonts/b-sans.otf") format("openType"); }

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

* {
  font-family: "bs", sans-serif; }

#alert-area {
  margin: 0;
  text-align: center; }

#main-area {
  height: 100%;
  width: 100%;
  background: rgba(168, 168, 168, 0.5);
  display: grid;
  grid-template-areas: "login" "footer";
  grid-template-rows: 1fr auto; }

#login-area {
  grid-area: login;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  #login-area #login {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3), inset 0 -3px 3px rgba(0, 0, 0, 0.1);
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3), inset 0 -3px 3px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    height: 50%;
    width: 20%;
    display: grid;
    grid-template-areas: "logo" "button" "status";
    grid-template-rows: auto auto 1fr;
    justify-items: center; }
    #login-area #login #logo-area {
      grid-area: logo;
      text-align: center; }
      #login-area #login #logo-area #logo {
        display: block;
        margin: auto;
        width: 75%; }
    #login-area #login #button-area {
      width: 100%;
      grid-area: button;
      text-align: center; }
      #login-area #login #button-area .btn {
        margin: auto;
        width: 90%;
        margin-bottom: 10px;
        color: white; }
    #login-area #login #status-area {
      width: 90%;
      grid-area: status;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center; }

.Gold {
  background: #FFCC33 !important;
  color: black !important; }

.Green {
  background: #28a745 !important;
  color: white !important; }

#footer {
  text-align: center;
  grid-area: footer;
  background: #28a745;
  color: white;
  padding: 5px; }

@media screen and (max-width: 568px) {
  #login-area #login {
    height: 90%;
    width: 90%; } }
