html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

#main-area {
  height: 100%;
  width: 100%;
  background: rgba(168, 168, 168, 0.5);
  display: grid;
  grid-template-areas: "login" "footer";
  grid-template-rows: 1fr auto; }

#login-area {
  grid-area: login;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  #login-area #login {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3), inset 0 -3px 3px rgba(0, 0, 0, 0.1);
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3), inset 0 -3px 3px rgba(0, 0, 0, 0.1);
    background: #FFCC33;
    border-radius: 20px;
    height: 50%;
    width: 20%;
    display: grid;
    grid-template-areas: "logo" "button" "status";
    grid-template-rows: auto auto 1fr;
    justify-items: center; }
    #login-area #login #logo-area {
      grid-area: logo;
      text-align: center; }
      #login-area #login #logo-area #logo {
        display: block;
        margin: auto;
        width: 75%; }
    #login-area #login #button-area {
      width: 100%;
      grid-area: button;
      text-align: center; }
      #login-area #login #button-area .btn {
        margin: auto;
        width: 90%;
        background: rgba(18, 178, 74, 0.7);
        border-color: rgba(18, 178, 74, 0.7);
        margin-bottom: 10px;
        color: white; }
        #login-area #login #button-area .btn:hover {
          background: #12b24a;
          border-color: #12b24a; }
    #login-area #login #status-area {
      width: 90%;
      grid-area: status;
      display: grid;
      grid-template-areas: ". .";
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      text-align: center; }
      #login-area #login #status-area .stats {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly; }

#footer {
  text-align: center;
  grid-area: footer;
  background: #12b24a;
  color: white;
  padding: 5px; }

@media screen and (max-width: 568px) {
  #login-area #login {
    height: 90%;
    width: 90%; } }
