* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

table {
    border: 1px solid black;
    margin: 1em auto;
}

td {
    border: 1px solid black;
    width: 1.6em;
    height: 1.6em;
}

img {
    width: 2.55em;
    height: 2.55em;   
    display: block;
    margin-left: auto;
    margin-right: auto;  
}

svg {
    width: 100%;
    height: 100%;
    /*
    width: 2.75em;
    height: 2.7em; 
    */
    display: block;
    
    font-family: 'Press Start 2P', sans-serif;
}

/*
rect {
    width: 2.75em;
    height: 2.7em;  
}
*/


#root {
    max-width: 500px;
    margin: 0 auto;
}

.green-square {
    background-color: rgb(19,147,80);
}

#square-5-5 {
    background-color: #C19A24;
}

/* restrict the size of each tile slot */
#slot0, #slot1, #slot2, #slot3, #slot4, #slot5, #slot6 {
    width: 2.6em;
    height: 2.6em; 
}

td {
    width: 1.5em;
    height: 1.5em;
}

/*
#square00, #square04, #square40, #square44, #square21, #square12, #square23, #square32 {
    background-color: rgb(19,147,80);
}
*/
.wrapper-board {
    margin: 0 auto;
    width: 315px;
    overflow: auto;
    /*
    border-style: solid;
    border-width: 1px;
    border-color: black;
    */
}

.wrapper-slots {
    margin: 0.5em auto;
    width: 315px;
    overflow: auto;
    /*
    border-style: solid;
    border-width: 1px;
    border-color: black;
    */
}

.wrapper-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr), 0.1rem;
    grid-gap: 0.1rem;
    width: 315px;
    margin: 0 auto;
}

#btnSwap {
    grid-column: 1 / 2;
    grid-row: 1 / 2; 
}
#btnPlace {
    grid-column: 2 / 3;
    grid-row: 1 / 2;  
}
#btnShuffle {
    grid-column: 3 / 4;
    grid-row: 1 / 2; 
}
button {
    font-size: 0.8rem;
    font-family: 'Press Start 2P', sans-serif;
    display: block;
    margin: 0 auto;
    padding: 0.5rem;
    border-radius: 2px;
    width: 90%;
    background: white;
    border: 1.5px solid black;
}

.row-style {
    margin: 2px 2px 0 2px;
    clear: both;    
}

.col-style {
    float: left;
    margin: 0 2px 2px 0;
    width: 26px;
    height: 26px;
    border-style: solid;
    border-width: 1.5px;
    border-color: black;
}

.slot-style {
    float: left;
    margin: 0 0 0 2px;
    border-style: solid;
    border-width: 1.5px;
    border-color: black;
}

.letter-value{
    font-size: 0.35em;
}

.container-buttons {
    width: 100%;
}

#textBox {
    width: 311px;
    padding: 0.1rem;
    margin: 0.5em auto;
    border: 1.5px solid black; 
    height: 40px;
    text-align: center;
    overflow: auto;
}

#gameEvent {
    font-family: 'Aldrich', sans-serif;
}

#square-0-0 {
    background: rgb(242,195,50);
}


.bg-yellow { background: yellow; }
.bg-green { background: green; }
.bg-grey { background: grey; }