* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

table{
    border: 1px solid black;
    margin: 1em auto;
}

td {
    border: 1px solid black;
    width: 3em;
    height: 3em;
    
}

img {
    width: 2.8em;
    height: 2.8em;   
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

#root {
    max-width: 500px;
    margin: 0 auto;
}

#square00, #square04, #square40, #square44, #square21, #square12, #square23, #square32 {
    background-color: rgb(19,147,80);
}