@font-face {
    font-family: 'bs';
    src: url("/static/webfonts/b-sans.otf") format("openType");
 }

 $font-main: 'bs', sans-serif;

 html, body {
     height: 100%;
     width: 100%;
     margin: 0;
     padding: 0;
     background: lightgray;
 }

 * {
     font-family: $font-main;
 }

 #main-area{
     height: 100%;
     width: 100%;
     display: grid;
     margin: auto;
     grid-template-areas: "nav-area nav-area nav-area"
                          "players-title board-area event-title"
                          "players-area board-area event-area"
                          "scores-title board-area event-area"
                          "scores-area board-area event-area";
    grid-template-rows: auto auto 1fr auto 1fr;
 }

 #players-title {
     grid-area: players-title;
 }

 #event-title {
     grid-area: event-title;
 }

 #scores-title {
     grid-area: scores-title;
 }

 .title {
    border: 1px solid black;
     h1{
        margin: 10px;
     }
 }

 #nav-area{
     grid-area: nav-area;
     background: lightgreen;
     color: white;
    text-align: center;

     h2 {
         margin-top: 10px;
     }

     #overall-info{
         display: flex;
         flex-direction: row;
         justify-content: space-around;
     }
 }

 #players-area{
     grid-area: players-area;
     overflow-y: scroll;
 }

 #scores-area{
     grid-area: scores-area;
     overflow-y: scroll;
 }

 #board-area{
     grid-area: board-area;
 }

 #event-area{
     grid-area: event-area;
     overflow-y: scroll;
 }

 .update {
     margin-left: 10px;
     border-bottom: 5px solid black;

     .time{
         margin-bottom: 0px;
         border-bottom: 1px solid black;
         font-weight: bold;
         font-size: 24px;
     }

     .data{
         border-bottom: 1px solid gray;
         p {
             margin-top: 5px;
             margin-bottom: 5px;
             font-size: 14px;
         }
     }
 }