@font-face {
    font-family: 'bs';
    src: url("/static/webfonts/b-sans.otf") format("openType");
 }

 $font-main: 'bs', sans-serif;

html,body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: $font-main;
}

#main-area{
    height: 100%;
    width: 100%;
    background: rgba(168.3, 168.3, 168.3, 0.5);
    display: grid;
    grid-template-areas: "login" "footer";
    grid-template-rows: 1fr auto;
}

#login-area{
    grid-area: login;
    display: flex;
    justify-content: center;
    align-items: center;

    #login {
        box-shadow: 0 3px 6px rgba(0,0,0,0.3), inset 0 -3px 3px rgba(0,0,0,0.1);
        background: #FFCC33;
        border-radius: 20px;
        height: 50%;
        width: 20%;
        display: grid;
        grid-template-areas: "logo" "button" "status";
        grid-template-rows: auto auto 1fr;
        justify-items: center;

        #logo-area{
            grid-area: logo;
            text-align: center;
            
            #logo{
                display: block;
                margin: auto;
                width: 75%;
            }
        }

        #button-area{
            width: 100%;
            grid-area: button;
            text-align: center;

            .btn{
                margin: auto;
                width: 90%;
                background: rgba(18,178,74, 0.7);
                border-color:rgba(18,178,74, 0.7);
                margin-bottom: 10px;
                color: white;

                &:hover{
                    background: rgb(18,178,74);
                    border-color: rgb(18,178,74);
                }
            }
        }

        #status-area{
            width: 90%;
            grid-area: status;
            display: grid;
            grid-template-areas: ". .";
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            text-align: center;

            .stats {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
            }
        }
    }
}

#footer {
    text-align:center;
    grid-area: footer;
    background: rgb(18,178,74);
    color: white;
    padding: 5px;
}

@media screen and (max-width: 568px) {
   #login-area{
        #login {
            height: 90%;
            width: 90%;
        }
    }
}