<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Creation</title>
</head>

<body>
    <main>
        <h1>Create a User:</h1>
        <section>
            <form action="/api/createUser" method="post">
                <div>
                    <label for="userName">Please enter your username</label>
                    <input name="userName">
                </div>
                <div>
                    <button>Submit</button>
                </div>
            </form>
        </section>
    </main>
</body>

</html>