<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Oswebble | Admin</title>
</head>
<body>

    <main id="main-area">
        <nav id="nav-area">
            <h2><i class="fas fa-lock"></i> Admin Area</h2>
            <h4 id="updatedAt"></h4>
            <div id="overall-info"></div>
        </nav>
        <div id="board-title" class="title">
            <h1>Board</h1>
        </div>
        <section id="board-area" class="area">
            <table id="board" class="table"></table>
        </section>
        <div id="event-title" class="title">
            <h1>Events</h1>
        </div>
        <section id="event-area" class="area">
        </section>
    </main>

    <script type="text/javascript" src="/static/js/tether-1.2.4.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-4.0.0.min.js"></script>
    <script type="text/javascript" src="/static/js/socketio-2.0.3.min.js"></script>

    <script type="text/javascript">
        $('#board').append('<th></th>')
        for(let i = 0; i < 11; i++){
            $('#board').append(`<th>${i}</th>`)
        }
        for(let i = 0; i < 11; i++){
            let row = '<tr>'
            row += `<th>${i}</th>`
            for(let j = 0; j < 11; j++){
                row += `<td>.</td>`
            }
            row += '</tr>'
            $('#board').append(row)
        }
    </script>

    <script type="text/javascript">
        let date = new Date()

        $('#updatedAt').empty().append(`<i class="fas fa-clock"></i> UPDATED AT: ${date.getHours()}:${date.getMinutes()}:${date.getSeconds()}`)

        let playerInfo = ''
        for(let i = 0; i < 4; i++){
            playerInfo += '<div class=\'data\'>'
            playerInfo += `<p><i class="fas fa-map-marker"></i> POSITION: ${i}</p>`
            playerInfo += `<p><i class="fas fa-hand-paper"></i> TILES:</p>`
            playerInfo += `<p><i class="fas fa-user"></i> NAME:</p>`
            playerInfo += `<p><i class="fas fa-users"></i> TEAM:</p>`
            playerInfo += `<p><i class="fas fa-arrow-right"></i> TURN:</p>`
            playerInfo += '</div>'
        }

        $('#overall-info').append(playerInfo)
    </script>

    <script type="text/javascript">
        function updateBoard(board){
            $('#board').empty()
            $('#board').append('<th></th>')
            for(let i = 0; i < board.length; i++){
                $('#board').append(`<th>${i}</th>`)
            }
            for(let i = 0; i < board.length; i++){
                let row = '<tr>'
                row += `<th>${i}</th>`
                for(let j = 0; j < board.length; j++){
                    row += `<td>${board[i][j] === null ? '.': board[i][j]}</td>`
                }
                row += '</tr>'
                $('#board').append(row)
            }
        }

        function updatePlayerInfo(players){
            let date = new Date()

            $('#updatedAt').empty().append(`<i class="fas fa-clock"></i> UPDATED AT: ${date.getHours()}:${date.getMinutes()}:${date.getSeconds()}`)
            
            let playerInfo = ''
            for(let i = 0; i < players.length; i++){
                playerInfo += '<div class=\'data\'>'
                playerInfo += `<p><i class="fas fa-map-marker"></i> POSITION: ${players[i].position}</p>`
                playerInfo += `<p><i class="fas fa-hand-paper"></i> TILES: [${players[i].tiles}]</p>`
                playerInfo += `<p><i class="fas fa-star"></i></i> SCORE: ${players[i].score}</p>`
                playerInfo += `<p><i class="fas fa-user"></i> NAME: ${players[i].name === null ? '' : players[i].name}</p>`
                playerInfo += `<p><i class="fas fa-users"></i> TEAM: ${players[i].team === null ? '' : players[i].team}</p>`
                playerInfo += `<p><i class="fas fa-arrow-right"></i> TURN: ${players[i].isTurn === null ? '' : players[i].isTurn}</p>`
                playerInfo += '</div>'
            }

             $('#overall-info').empty().append(playerInfo)

        }

        let socket = io('localhost:3000');

        socket.on('whoAreYou', () => {
            socket.emit('whoAreYou', {isSF: true})
        })

        socket.on('updateState', r => {
            updateBoard(r.board)
            updatePlayerInfo(r.players)
        })

        socket.on('gameEvent', r => {
            let date = new Date()
            let gameEvent = '<div class=\'update\'>'
            gameEvent += `<p class=\'time\'><i class="fas fa-clock"></i> TIME: ${date.getHours()}:${date.getMinutes()}:${date.getSeconds()}</p>`
            gameEvent += '<div class=\'data\'>'
            gameEvent += `<p><i class="fas fa-exclamation-triangle"></i> ${r.action.toUpperCase()}</p>`
            gameEvent += '</div>'
            $('#event-area').append(gameEvent)

            let objDiv = document.getElementById("event-area");
            objDiv.scrollTop = objDiv.scrollHeight;
        })
    
    </script>

    <link rel="stylesheet" href="/static/css/bootstrap-4.0.0.min.css"></script>
    <link rel="stylesheet" href="/static/css/admin.css">
    <link rel="stylesheet" href="/static/css/fontawesome-5.0.1.0.min.css">
</body>
</html>