<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Aldrich|Press+Start+2P" rel="stylesheet">

    <title>Oswebble | Game</title>
</head>
    
<body>
    <div id="root">

        <div id="usernameArea">
            <h4 class="username">You are {{username}}</h4>
        </div>

        <div id="textBox">
            <p class="gameEvent"><b>Game Event</b></p>
            <p class="gameEvent" id="actualEvent"></p>
        </div>
        
       <div id="teamScoreText">
            <div class = "wrapper-team-scores">
                <div class="green-team-label">
                    <b>Green:</b>
                </div>
                <div class="green-team-scores">
                    <div class="boardUpdate" id="greenScore">{{greenScore}}
                    </div>
                </div>
                <div class="gold-team-scores">
                    <div class="boardUpdate" id="goldScore">{{goldScore}}
                    </div>
                </div>
                <div class="gold-team-label">
                    <b>:Gold</b>
                </div>
            </div>
        </div>
        
        <div class="wrapper-board">
            <div class="row-style" v-for="row in rows">
                <div class="col-style" v-for="square in squares" v-if="square.xAxis === row" :id="square.id" :style="{background: square.squareBackgroundColor}"@click="onClickSquare(square.id)"></div>
            </div>
        </div>
        
        <div class="wrapper-slots">
            <div class="row-style">
                <div class="slot-style" v-for="tileSlot in tileSlots" :id="tileSlot.id">
                    <svg :id="tileSlot.tile.id" :visibility="tileSlot.tile.visibility" @click="onClickTile(tileSlot.tile.id)">
                        <rect x="0" y="0" stroke="black" stroke-width="1px" width="100%" height="100%" fill="#f4dc00"/>
                        <text x="50%" y="60%" alignment-baseline="middle" text-anchor="middle" :fill="tileSlot.tile.highlightedColor">{{ tileSlot.tile.letter }}</text>
                        <text class="letter-value" x="70%" y="30%" :fill="tileSlot.tile.highlightedColor">{{ tileSlot.tile.value }}</text>
                    </svg>
                </div>
            </div>
        </div>

        <div class="wrapper-buttons">
            <button id="btnSwap" class="btnCust" @click="onClickSwap"><img src="/static/imgs/exchange.png"><br>EXCHANGE</button>
            <button id="btnPlace" class="btnCust" @click="onClickPlace" onclick="emitBoard()"><img src="/static/imgs/done.svg"><br>DONE</button>
            <button id="btnShuffle" class="btnCust" @click="onClickShuffle"><img src="/static/imgs/shuffle.png"><br>SHUFFLE</button>
        </div>
        
        <div id="turnNotif">
        <div class="wrapper-turn-notifier">
            <div class="dataUpdate" id="isMyTurn">{{isMyTurn}}
            </div>
        </div>
        </div>
        
    </div>

    <script type="text/javascript" src="/static/js/vuejs-2.5.16.min.js"></script>
    <script type="text/javascript" src="/static/js/socketio-2.0.3.min.js"></script>

    <script type="text/javascript" src="/static/js/frontend_board_model.js"></script>
    <script type="text/javascript" src="/static/js/frontend_board_view_model.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/frontend_play_area.css">

</body>
</html>