<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Oswebble | Game</title>
</head>

<body>
    <div id="root">
        <div v-if="error" class="alert alert-danger" id="alert-area" role="alert">
            {{error}}
        </div>
        <div id="removable">
            <section class="scoreArea">
                <a id="help" onclick="helpFunction()"><i class="fas fa-info-circle" style="color: black;" ></i></a>
                <h4 id="score">Your Score: <b>{{score}}</b></h4>
                <h4 id="green">Green:</h4>
                <h4 id="green-score"><b>{{greenScore}}</b></h4>
                <h4 id="yellow-score"><b>{{goldScore}}</b></h4>
                <h4 id="yellow">:Yellow</h4>
            </section>

            <div id="textBox" :style="[colored ? {background: 'lightcoral'} : {background: 'darkgray'}]">
                <p class="gameEvent" id="actualEvent"></p>
            </div>

            <div class="wrapper-board">
                <div class="row-style" v-for="row in rows">
                    <div class="col-style" v-for="square in squares" v-if="square.xAxis === row" :id="square.id" :style="{background: square.squareBackgroundColor}"@click="onClickSquare(square.id)"></div>
                </div>
            </div>

            <div id="timer">
                <h4 class="timer"><b>{{playTime}}</b></h4>
            </div>

            <div class="wrapper-slots">
                <div class="row-style">
                    <div class="slot-style" v-for="tileSlot in tileSlots" :id="tileSlot.id">
                        <svg :id="tileSlot.tile.id" :visibility="tileSlot.tile.visibility" @click="onClickTile(tileSlot.tile.id)">
                            <rect x="0" y="0" width="100%" height="100%" fill="#ffcc33"/>
                            <text font-size= 18px x="50%" y="60%" alignment-baseline="middle" text-anchor="middle" :fill="tileSlot.tile.highlightedColor">{{ tileSlot.tile.letter }}</text>
                            <text class="letter-value" x="70%" y="30%" :fill="tileSlot.tile.highlightedColor">{{ tileSlot.tile.value }}</text>
                        </svg>
                    </div>
                </div>
            </div>

            <div class="wrapper-buttons">
                <button id="btnSwap" class="btnCust" @click="onClickSwap"><i class="fas fa-exchange-alt"></i><br>EXCHANGE</button>
                <button id="btnPlace" class="btnCust" @click="onClickPlace" onclick="emitBoard()"><i class="far fa-check-circle"></i><br>DONE</button>
                <button id="btnShuffle" class="btnCust" @click="onClickShuffle"><i class="fas fa-random"></i><br>SHUFFLE</button>
            </div>

        </div>
    </div>

    <script type="text/javascript" src="/static/min/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/min/js/vuejs.min.js"></script>
    <script type="text/javascript" src="/static/min/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="/static/min/js/board.min.js"></script>
    <script type="text/javascript" src="/static/min/js/board_view.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/min/css/bootstrap.min.css"></script>
    <link rel="stylesheet" type="text/css" href="/static/min/css/fontawesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/min/css/gameboard.min.css">

</body>
</html>