<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PlayWord</title>
</head>
<body>
    <main>
        <form action="playWord" method="POST">
            <input type="number" name="x" pattern="[0-9]" placeholder="x-coordinate" required>
            <input type="number" name="y" pattern="[0-9]" placeholder="y-coordinate" required>
            <input type="text" name="word" placeholder="word" required>
            <select name="h">
                <option value="true">true</option>
                <option value="false">false</option>
            </select>
            <button type="submit">Submit</button>
        </form>
    </main>
</body>
</html>