<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Oswebble | Login</title>
</head>
<body>
    <% if (error) { %>
    <div class="alert alert-danger" id="alert-area" role="alert">
        <%= error %>
    </div>
    <% } %>
    <main id="main-area">
        <section id="register-area">
            <div id="register">
                <div id="logo-area">
                    <img id="logo" src="/static/imgs/logo-min.png" alt="Oswebble">
                    <h2>Register!</h2>
                </div>
                <form id="form-area" method="POST" action="/register">
                    <div id="form" class="form-group">
                        <label for="username">Username</label>
                        <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                  <div class="input-group-text"><i class="fas fa-user"></i></div>
                                </div>
                                <input type="text" class="form-control" name="username" placeholder="Username" required>
                              </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="team" id="greenTeam" value="Green" required>
                            <label class="form-check-label" for="greenTeam">
                                Green Team
                            </label>
                            </div>
                            <div class="form-check">
                            <input class="form-check-input" type="radio" name="team" id="yellowTeam" value="Gold" required>
                            <label class="form-check-label" for="yellowTeam">
                                Gold Team
                            </label>
                        </div>
                        <button type="submit" class="btn btn-lg btn-block btn-primary">Play!</button>
                    </div>
                </form>
            </div>
        </section>
        <footer id="footer">
                <div id="copyright"></div>
        </footer>
    </main>

    <script type="text/javascript" src="/static/js/tether-1.2.4.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-4.0.0.min.js"></script>

    <script type="text/javascript">
        $(window).bind("pageshow", function(event) {
            if (event.originalEvent.persisted) {
                window.location.reload(); 
            }
        });
    </script>

    <script type="text/javascript">
        $('document').ready(() => {
            alert('Oswebble Tips:\n 1. Words may be played left-to-right or top-to-bottom.\n 2. To move a tile onto the board use the click and place method: "Click" the tile from your hand and then select the "Place" on the board you want to put the tile. \n 3. Each player will get three minutes for their turn. \n 4. Players have to exchange a tile or play a word on the board each turn. \n 5. Playing Oswego-themed words like "shineman", "lakers", "oswego", etc. (inlcuding proper nouns) will result in a bonus. \n 6. Playing a word over the gold ("DW") or green ("TW") tiles will result in a double or triple-word bonus. \n 7. Attempting to play profane words may result in your removal from the game. \n 8. Have Fun!');                         
        })
    </script>

    <script type="text/javascript">
        $('#copyright').append(`Copyright © ${new Date().getFullYear()}. SUNY Oswego. All Rights Reserved.`);
    </script>

    <link rel="stylesheet" href="/static/css/bootstrap-4.0.0.min.css"></script>
    <link rel="stylesheet" href="/static/css/register.css">
    <link rel="stylesheet" href="/static/css/fontawesome-5.0.1.0.min.css">
</body>
</html>